body{
    color: #000;
}

.heading-of-resultpage{
    color: forestgreen;
    text-align: center;
}

.boxxx{
    width: 70vw;
    height: fit-content;
    background-color: white;
    border-left: 10px solid #8686f3;
}

.totalnoofqus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.attempted{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.crtans{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.wrongans{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.boxxx h2{
    padding: 20px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

#playagain{
    background-color: rgb(173, 242, 173);
}

#playagain:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#home{
    background-color: rgb(245, 90, 188);
}

#home:hover{
    cursor: pointer;
    transform: scale(1.1);
}