body{
  background-color: #473A8D;
}

h3{
  color: white;
  text-align: center;
}

.start{
  background-color: green;
  color: white;
  width: 200px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 600px;
}

.home{
  margin: 3%;
  height: 100%;
}

.container{
  background-color: white;
  width: 80vw;
  height: 80vh;
  padding: 10px;
  margin-top: 5%;
  margin-left: 125px;
}

h1,.question{
  text-align: center;
}

.question{
  margin-top: 40px;
}

.options{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 120px 30px 10px 30px;
}

.opt{
  background-color: rgb(0, 191, 255);
  height: 40px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  display: flex;
  justify-content: space-between;
  margin: 60px 40% 0px 40%;
}

.prev{
  font-size: small;
  background-color: rgb(70, 124, 210);
  border: 0px;
  padding: 5px;
}
.next{
  background-color: rgb(55, 207, 55);
  border: 0px;
  padding: 5px 15px;
}

.quit{
  background-color: red;
  border: 0px;
  padding: 5px 15px;
}





.result{
  color: green;
  text-align: center;
}

.resultheading{
  background-color: white;
  border-left: 5px solid rgb(151, 86, 255);
  width: 40vw;
  height: 40vh;
  padding: 20px;
  margin: auto;
}

h4{
  text-align: center;
}

.blue{
  color: blue;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}

.Detail{
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
}

.twoButton{
  margin: 30px 32%;
  display: flex;
  justify-content: space-between;
}

.again{
background-color: rgb(192, 192, 192);
border-color: aliceblue;
color: rgb(56, 56, 56);
border-radius: 10px;
height: 30px;

}
.back{
  color: rgb(0, 137, 0);
  border-color: rgb(0, 137, 0);
  background-color: rgb(187, 255, 187);
  border-radius: 10px;
  height: 30px;
}